/* default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    left: 20px;
  }
  
  ul {
    list-style: none;
    font-size: 30px;
  }
  
  a {
    text-decoration: inherit;
  }
  
  /* navbar */
  .navbar {
    position: fixed;
    z-index: 1001;
    top: 30px;
    min-height: 10px;
    width: 100%;
  }
  
  
  /* logo  */
  .logo {
    display: block;
    max-height: 2rem;
    scale: 200%;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cff);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
  }
  
  
  /* ul  */
  .nav {
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    left: 20px;
  }
  
  /* media queries */
    
    /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    scale: 110%;
  }
  
  .vertBar,.horBar{
        display: block;
        background-color: var(--highlight);
        width: 20px;
        height: 3px;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
  }
  
  .vertBar{
    width: 30px;
    height: 2px;
    transform: rotate(90deg);
  }

  .horBar{
    display: block;
  }
  
    /* adding active class to the bars  */
    .hamburger.active .horBar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .horBar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .horBar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */

    .menuWrapper{
      position: fixed;
      z-index: 1000;
      top: -100%;
      height: 100%;
      background-color: var(--shadow);
      width: 100%;
      transition: 0.4s ease-in-out;
      justify-content: flex-start;
    }

    .menuWrapper.active{
      top: 0;
    }

    .menuInner{
      padding-left: 100px;
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: baseline;
    }

    .socialLinks{
      display: inline-flex;
      flex-direction: row;
      padding-bottom: 5px;
      padding-top: 10px;
      gap: 20px;
      width: 100%;
    }

    .socialLinks_link{
      display: flex;
      width: 30px;
      height: 30px;
      opacity: 1;
    }

    .mainLinks{
      gap: 20px;
      font-weight: bold;
      font-size: 40px;
    }
  
    .mainLinks li {
      margin: 16px 0;
    }