/* default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    left: 20px;
  }
  
  ul {
    list-style: none;
    padding: 150px 100px;
    vertical-align: middle;
    font-size: 30px;
  }
  
  a {
    text-decoration: inherit;
  }
  
  /* navbar */
  .navbar {
    position: fixed;
    z-index: 100;
    top: 30px;
    display: inline-flex;
    align-items: center;
    min-height: 10px;
    width: 100%;
  }
  
  
  /* logo  */
  .logo {
    display: block;
    max-height: 2rem;
    scale: 200%;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cff);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
  }
  
  
  /* ul  */
  .nav {
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    scale: 100%;
    left: 20px;
  }
  
  /* media queries */
    
    /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    scale: 110%;
  }
  
  .vertBar,.horBar{
        display: block;
        background-color: var(--highlight);
        width: 20px;
        height: 3px;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
  }
  
  .vertBar{
    width: 30px;
    height: 2px;
    transform: rotate(90deg);
  }

  .horBar{
    display: block;
  }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: fixed;
      flex-direction: column;
      gap: 20px;
      top: -100%;
      width: 100%;
      left: 0%;
      height: 100%;
      transition: 0.4s ease-in-out;
      background-color: var(--shadow);
    }
  
    .navMenu.active{
      top: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }