#root {
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  max-width: 1280px;
  width: 92vw;
}

.column {
  width: inherit;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.row {
  flex: 1;
  margin: 1vw;
  margin-bottom: .25vw;
}

.link{
  font-weight: 500;
  font-size: 1.4rem;
  font-family: Vollkorn;
}

.iframes{
  align-self: center;
  max-width: 100vw;
  flex-direction: row;
  display: inline-flex;
}

.iframe{
  width: 45vw;
  max-width: 600px;
  max-height: 650px;
  height: 110vh;
}

.pdf{
  max-width: 1000px;
  width: 92vw;
  height: 100vh;
  max-height: 850px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(160, 200, 120);
}


table{
  border: 3px solid  rgb(160, 200, 120);
  align-self: inherit;
  align-items: center;
  display: inline-block;
  margin-top: 2em;
}

caption{
  align-self: inherit;
}

th, td{
  border: 2px solid rgb(160, 200, 120);
  width: 65vw;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .7em;
  padding-left: .7em;
}

th{
  font-size: 1.3em;
  padding: 1em;
  padding-right: .7em;
}

table, th, td{
  border-collapse: collapse;
}

td{
  font-family: Vollkhorn;
  font-size: 1.2em;
  text-align: center;
}

.card {
  padding: 2em;
}

ul{
  align-self: inherit;
  list-style-type: none;
  width: inherit;
}

@media (width <= 700px){
  .iframes{
    flex-direction: column;
  }
  .iframe{
    width: 25rem;
    height: 75vh;
  }
}

