#root {
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  max-width: 1280px;
  width: 92vw;
}

.column {
  width: inherit;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.row {
  flex: 1;
  margin: 1vw;
  margin-bottom: .25vw;
}

.link{
  font-weight: 500;
  font-size: 1.4rem;
  font-family: Vollkorn;
}

.iframes{
  align-self: center;
  max-width: 100vw;
  flex-direction: row;
  display: inline-flex;
}

.iframe{
  width: 45vw;
  max-width: 600px;
  max-height: 856px;
  height: 80vw;
}

.pdf{
  max-width: 1000px;
  width: 92vw;
  height: 100vh;
  max-height: 850px;
}

.card {
  padding: 2em;
}

ul{
  align-self: inherit;
  list-style-type: none;
  width: inherit;
}

@media (width <= 700px){
  .iframes{
    flex-direction: column;
  }
  .iframe{
    width: 25rem;
    height: 75vh;
  }
}

