#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  --rounded-trapezoid: 10% 30% 10% 30%;
  --rounded-square: 10%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.splitscreen{
  display: inline-flex;
  padding: 2rem;
}

.splitscreen .left{
  flex: 1;
  padding: 2rem;
}
.splitscreen .right{
  padding: 2rem;
  flex: 1;
}

.paragraph{
  display: inline;
  background-color: var(--main);
  filter: drop-shadow(2rem 2rem var(--shadow));
  scale: 90%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  border-radius: var(--rounded-trapezoid);
}

.center{
  padding: 1rem;
  vertical-align: middle;
}


.container img{
  display: inline-flex;
  scale: 100%;
  border-radius: var(--rounded-square);
  box-shadow: 1rem 1rem var(--shadow);
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

@media screen and (max-width: 780px) {

  .splitscreen{
    display: inline-block;
  }

  .paragraph{
    display: inline-block;
    background-color: var(--main);
    filter: drop-shadow(2rem 2rem var(--shadow));
    scale: 90%;
    max-width: 200%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: var(--rounded-square);
  }
  

}
